* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  width: 1200px;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(134, 70, 252, 1) 100%
  );
}
